html, body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.sketch-cont {
    display: flex;
    flex-direction: column;
    width: 60vmin;
    height: 50vmin;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    text-align: start;
}

h1, h2, p {
    align-self: flex-start;
}